body {
    margin: 0;    
    font-family: 'Ubuntu', sans-serif;
}


/* ==========
 Typography
 ===========*/

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 2rem;
    color: #143774;
    margin: 0;
}

.subtitle {
    font-size: .75rem;
    font-weight: 700; 
    color: #1792D2;
    margin: 0;
}

/*======
Layout
======*/

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    padding: 2em 0;
}

/* Navigation */

.nav-list{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.nav-list-item {
    margin-left: 2em;
}

.nav-link {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    font-size: 1rem;
    padding: .25em 0
}

a:hover,
a:focus {
    color: #1792D2;
}

.current-page {
    border-bottom: 1px solid #707070
}

.current-page:hover {
    color: #707070;
}

@media (max-width: 675px){
    .container-nav {
        flex-direction: column;
    }

    header {
        text-align: center
    }

    .nav-list{
        flex-direction:column;
    }

    .nav-list-item {
        margin: .5em 0;
    }

}

























